<a href="https://colab.research.google.com/github/mateuspadua/machine-learning/blob/master/wine_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded = files.upload()

Saving datasets_16721_22034_wine_dataset.csv to datasets_16721_22034_wine_dataset.csv

In [31]:
import pandas as pd
import numpy as np
df = pd.read_csv("datasets_16721_22034_wine_dataset.csv")

In [7]:
df.head()

   fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0            7.4              0.70         0.00  ...      9.4        5    red
1            7.8              0.88         0.00  ...      9.8        5    red
2            7.8              0.76         0.04  ...      9.8        5    red
3           11.2              0.28         0.56  ...      9.8        6    red
4            7.4              0.70         0.00  ...      9.4        5    red

[5 rows x 13 columns]

In [9]:
print(f"número de instancias {df.shape[0]}")
print(f"número de atributos {df.shape[1]}")

número de instancias 6497
número de atributos 13

In [14]:
# quantidade de cada vinho no dataframe
df["style"].value_counts()

white    4898
red      1599
Name: style, dtype: int64

In [17]:
#Quantidade de instâncias com valor alcolico igual 9.8
len(df[df['alcohol'] == 9.8])

214

In [58]:
df["style"] = df["style"].apply(lambda v: 0 if v == "red" else 1)
# df.apply(lambda x: [1, 2], axis=0)

In [59]:
df

      fixed_acidity  volatile_acidity  citric_acid  ...  alcohol  quality  style
0               7.4              0.70         0.00  ...      9.4        5      0
1               7.8              0.88         0.00  ...      9.8        5      0
2               7.8              0.76         0.04  ...      9.8        5      0
3              11.2              0.28         0.56  ...      9.8        6      0
4               7.4              0.70         0.00  ...      9.4        5      0
...             ...               ...          ...  ...      ...      ...    ...
6492            6.2              0.21         0.29  ...     11.2        6      1
6493            6.6              0.32         0.36  ...      9.6        5      1
6494            6.5              0.24         0.19  ...      9.4        6      1
6495            5.5              0.29         0.30  ...     12.8        7      1
6496            6.0              0.21         0.38  ...     11.8        6      1

[6497 rows x 13 columns]

In [71]:
df.iloc[:,:-1]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
0               7.4              0.70         0.00  ...       0.56      9.4        5
1               7.8              0.88         0.00  ...       0.68      9.8        5
2               7.8              0.76         0.04  ...       0.65      9.8        5
3              11.2              0.28         0.56  ...       0.58      9.8        6
4               7.4              0.70         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
6492            6.2              0.21         0.29  ...       0.50     11.2        6
6493            6.6              0.32         0.36  ...       0.46      9.6        5
6494            6.5              0.24         0.19  ...       0.46      9.4        6
6495            5.5              0.29         0.30  ...       0.38     12.8        7
6496            6.0              0.21         0.38  ...       0.32     11.8        6

[6497 rows x 12 columns]

In [77]:
from sklearn.model_selection import train_test_split

x = df.iloc[:,:-1]
y = df.iloc[:,-1]

# criando os conjuntos de dados de treino e teste
x_treino, x_test, y_treino, y_test = train_test_split(x, y, test_size=0.3)

In [79]:
from sklearn.ensemble import ExtraTreesClassifier
modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

# encontrando acurácia do modelo
accuracy = modelo.score(x_test, y_test)
print(f"Acurácia do modelo {accuracy}")

Acurácia do modelo 0.9953846153846154

In [80]:
x_test[400:405]

      fixed_acidity  volatile_acidity  citric_acid  ...  sulphates  alcohol  quality
5829            6.0              0.22         0.23  ...       0.63     10.0        6
730             9.5              0.55         0.66  ...       0.67      9.6        5
4543            7.1              0.29         0.34  ...       0.40     10.7        6
2694            5.3              0.24         0.33  ...       0.38     11.0        8
1317            9.9              0.44         0.46  ...       0.69     11.9        6

[5 rows x 12 columns]

In [81]:
y_test[400:405]

5829    1
730     0
4543    1
2694    1
1317    0
Name: style, dtype: int64

In [85]:
# prevendo o tipo de vinho a partir de 5 valores de testes.
previsoes = modelo.predict(x_test[400:405])
 
print("Os valores inferidos foram: {}".format(previsoes))

Os valores inferidos foram: [1 0 1 1 0]